version: '3.3'

services:
  fastapi:
    build:
      context: ./fastapi
    container_name: fastapi_app
    networks:
      - backend
    volumes:
      - ./fastapi:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000

  wordpress:
    image: wordpress:latest
    container_name: wordpress_app
    ports:
      - "5001:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
    command: sh -c "echo 'StartServers 1\nMinSpareServers 1\nMaxSpareServers 2\nMaxRequestWorkers 4\nMaxConnectionsPerChild 1000' >> /etc/apache2/apache2.conf && docker-php-entrypoint apache2-foreground"
    networks:
      - backend
    depends_on:
      - db
    volumes:
      - ./wordpress:/var/www/html

  db:
    image: mysql:5.7
    container_name: wordpress_db
    command: --innodb-buffer-pool-size=64M --performance-schema=OFF
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    volumes:
      - ./mysql-data:/var/lib/mysql
    networks:
      - backend

  nginx:
    image: nginx:alpine
    container_name: frontend_nginx
    ports:
      - "5000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - backend
    depends_on:
      - fastapi
      - wordpress

networks:
  backend:
    driver: bridge
